.navbar.bg-dark{
    top: 0;
}
.container {
    margin-top: 5rem !important;
    overflow-x: scroll;
}
#cover {
    overflow: scroll;
    padding-bottom: 5rem;
}
.custom-toast {
    background-color: #98FF98 !important;
    color: #021945;
}
i {
    margin-bottom: 0 !important;
}