    <footer class="bg-dark text-white text-center py-4">
        <div class="container">
            <div class="mb-3" id="icons">
                <a href="#" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="text-white me-4">
                    <i class="fab fa-x-twitter"></i>
                </a>
                <a href="#" class="text-white me-4">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <p class="mb-0">&copy; 2025 Neptune's Kitchen. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>