<nav class="navbar bg-dark">
    <div class="container-fluid justify-content-center">    
        <span class="navbar-brand mb-0 h1 text-white text-center">
            NEPTUNE'S
            <img src="/images/trident.svg" id="logo">
            KITCHEN
        </span>
        <form action="/logout" method="GET" class="ms-3">
            <button class="btn btn-outline-danger btn-sm d-flex align-items-center loggingout">
                <i class="fas fa-sign-out-alt me-2" id="logout"></i>
            </button>
        </form>
    </div>
</nav>