#wrapper {
    top: 14%;
    bottom: 11%;
    overflow: scroll;
    position: fixed;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#cover {
    background-image: url('/images/bg.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: 50%;
    height: auto;
    padding: 2rem 0 2rem 0;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Metamorphous', serif;
}
.mt-5{
    margin-top: 0rem !important;
}
.btn.btn-primary {
    background-color: #98FF98;
    border-color: #98FF98;
    color: #021945;
    font-family: 'Metamorphous', serif;
}
.mb-3 {
    margin-top: 2rem;
}
.d-grid{
    margin-top: 2rem;
}

@media (max-width: 1300px) {
    #cover {
        width: 70%;
        left: 15%;
    }
}
@media (max-width: 900px) {
    #cover {
        width: 80%;
        left: 10%;
    }
}
@media (max-width: 620px) {
    #cover {
        width: 90%;
        left: 5%;
    }
}
.position-fixed.bottom-0.end-0.p-3{
    z-index: 101;
}
.toast-body, .d-flex{
    background-color: #98FF98;
    color: #021945;
}